body, html{
	margin: 0;
	padding: 0;

}

body{
	min-height: 1000px;
	font-family: 'Roboto', Arial, sans-serif;
}

h3, h4 {
	font-weight: normal;
	margin: auto;
}

table {
    font-size: 15px;
}

#tb-student td {
	vertical-align: middle;
}

/* top menu */

.nav-list {
	list-style: none;
	background: #448ac7;
	height: 60px;
	line-height: 60px;
	margin: 0px;
}

.nav-list li {
	display: inline;
	margin-left: -4px;
}

.nav-list a {
	text-decoration: none;
	display: inline-block;
	width: 130px;
	text-align: center;
	height: 60px;
	color: white;
	transition: 0.2s;
}

.nav-list a:hover {
	background: #427dad;
	color: white;
	text-decoration: none;
}

/* form registrarion */

.form {
	float: right;
	color: white;
	padding-right: 35px;
}

.form-username {
	display: inline-block;
	float: right;
	color: white;
	width: 130px;
	text-align: center;
}

.form-registration {
	float: right;
}

/* button-add-teacher-student */

.button-add {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container h4 {
	padding-top: 30px;
	text-align: center;
	font-size: 19px;
}

.delete-student, .copy-student {
	padding-top: 25px;
}

.table a:hover {
	text-decoration: none;
}

/* registraform */

.wrapper-registration{
	width: 400px;
	margin: 0 auto;
	padding-top: 20px;
}

.wrapper-registration label {
	width: 400px;
	float: right;
}

/* home.html */

.home-wrapper {
	height:750px;
	background-image: url('../img/home3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.text-wrapper {
	color: white;
	font-size: 23px;
	text-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
	width: 900px;
	margin: 0 auto;
	text-align: center;
	padding-top: 130px;
	background-size: cover;
}

.table-striped a:hover {
	text-decoration: none;
}

/* student-detail */

.student-information {
	width: 400px;
	font-size: 14px;
	padding: 10px 0;
	margin-left: 0px;
}

.student-information div {
	width: 400px;
    margin: 4px 0;
    padding-left: 10px;
	height: 40px;
	line-height: 40px;
	border-radius: 0px;
	width: 350px;
	border-bottom: 1px solid #ddd;
}

.photo-student-detail {
	height: 150px;
	width: 150px;
	float: right;

}

.table-bordered {
	font-size: 13px;
	width: 500px;
}


/* window-copy-student */

.popup-messages {
	background: #141414;
	width: 500px;
	height: 60px;
	margin-left: 270px;
	line-height: 60px;
	color: white;
	position: fixed;
	bottom: 10px;
	display: none;
	border-radius: 8px ;
}

.popup-text {
	font-size: 12px;
	text-align: center;
}

/* login */

.login-socila-network {
	
}

.login-socila-network h4 {
	padding-top: 10px;
	text-align: center;
	font-size: 16px;
	border-top:  1px solid #ddd;
	height: 40px;
}

.button-social-network li {
	list-style: none;
	display: inline-block;
	width: 55px;

}