{% extends 'university/index.html' %}
{% block content %}
<form action="{% url 'login' %}" method="post">{% csrf_token %}
    <div class="form-group">
        <label for="inputUserName">Имя Пользавателя</label>
<!--        <input type="text" class="form-control" id="inputUserName" placeholder="Username"> -->
        {{form.username}}
    </div>
    <div class="form-group">
        <label for="inputPassword">Пароль</label>
<!--        <input type="password" class="form-control" id="inputPassword"> -->
        {{form.password}}
    </div>
    <div class="checkbox">
        <label>
        <input type="checkbox"> Запомнить
        </label>
    </div>
    <input type="submit" value="Войти">
    <input type="hidden" name="text" value="{{next}}">
</form>
{% endblock %}
