{% extends 'university/index.html' %}
{% block content %}
<section class="container">
	{% if student.photo %}
		<div class="photo"><img src="{{student.photo.url}}" alt=""></div>
	{% endif %}
		<p>Фамилия: {{student.surname}}</p>
		<p>Имя: {{student.name}}</p>
		<p>Факультет: {{student.department}}</p>
		<p>Курс: {{student.cource}}</p>
		<p>Група: {{student.group}}</p>
	<table class="table table-bordered">
		<tr>
		 	<th>Оценка</th>
		 	<th>Преподаватель</th>
		 	<th>Предмет</th>
		 	<th>Дата</th>
		</tr>
		{% for evalution in evalutions %}
		<tr> 	
			<td>{{evalution.appraisal}}</td>
			<td>{{evalution.teacher}}</td>
			<td>{{evalution.subject}}</td>
			<td>{{evalution.date}}</td>
			{% endfor %}
		</tr>
	</table>
</section>
{% endblock %}